.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.courseContainer {
    margin-bottom: 30px;
}

.courseName {
    font-size: 24px;
    margin-bottom: 10px;
}

.dateContainer {
    margin-bottom: 15px;
}

.date {
    font-size: 18px;
    margin-bottom: 5px;
}

.bookingList {
    list-style-type: none;
    padding-left: 0;
}

.bookingItem {
    margin-bottom: 5px;
}

.noBooking {
    color: #888;
    font-style: italic;
}

.refreshButton {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #4c77af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition:
        background-color 0.3s,
        transform 0.3s;
}

.refreshButton:hover {
    background-color: #416998; /* Slightly darker blue for hover state */
    transform: scale(1.05);
}

.refreshButton:active {
    background-color: #36597f; /* Even darker blue for active state */
    transform: scale(0.95);
}

.loading,
.error {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.loading {
    font-size: 1.5em;
    margin-top: 20px;
}

.progressBar {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: #4c77af;
    width: 0;
    transition: width 0.1s linear;
}
