.grid {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.25rem 0;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
}

.imageWrapper {
    position: relative;
}

@media (min-width: 900px) {
    .imageWrapper:hover {
        opacity: 0.5;
    }
}

@media (max-width: 900px) {
    .imageWrapper:active {
        opacity: 0.5;
    }
}

.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    z-index: 2;
}

.circle {
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    color: white;
}

.rating {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    --type-token: globalEditorial.numerical-large;
    text-transform: none;
    font-family: Walfork, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1em;
    font-size: 30px;
    font-weight: 400;
    overflow-wrap: normal;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .imageText {
        opacity: 0;
        font-size: 1.125rem;
    }
}

@media (min-width: 900px) {
    .imageWrapper:hover .imageText {
        opacity: 1;
    }
}

.search {
    max-width: 400px;
    margin: 0 auto;
}
