.title {
    text-align: center;
    font-size: 2rem;
}

.wineName {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.hidden {
    background-color: #f0f0f0;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 2px 5px;
}

.font-serif {
    font-family: 'Playfair Display', serif;
}