.pageContainer {
    position: relative;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    overflow: hidden; /* Ensures no scrolling issues with the pseudo-element */
}

.pageContainer::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/wine/wine-long.png");
    background-size: 1200px 1000px;
    background-position: center;
    background-repeat: repeat-x;
    opacity: 0.2; /* Adjusts only the background image opacity */
    z-index: 0;
    pointer-events: none; /* Ensures the background does not block clicks */
    animation: flow 15s linear infinite;
}

/* Animation for the flowing effect */
@keyframes flow {
    0% {
        background-position: -1200px 0px;
    }
    100% {
        background-position: 0 0px; /* Adjust as needed for speed and direction */
    }
}

.title {
    text-align: center;
    font-size: 2rem;
}

.wineName {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.hidden {
    background-color: #f0f0f0;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 2px 5px;
}