.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.topRightCorner {
    margin-left: auto;
    display: flex;
}


.td {
    padding: 0 4px;
}