certifi==2025.4.26
charset-normalizer==3.4.1
idna==3.10
inflect==7.5.0
loguru==0.7.3
more-itertools==10.7.0
psycopg2-binary==2.9.10
requests==2.32.3
sqlacodegen==3.0.0
SQLAlchemy==2.0.40
typeguard==4.4.2
typing_extensions==4.13.2
urllib3==2.4.0
fastapi==0.104.1
uvicorn==0.24.0
