.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.image {
    width: 50%;
}

.details {
    width: 50%;
}

.album {
    font-family: helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25em;
    font-style: italic;
    padding-bottom: 15px;
}

.artist {
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25em;
    padding-bottom: 20px;
}

.review {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.reviewText {
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25em;
}

.reviewText h1,
.reviewText h2,
.reviewText h3,
.reviewText h4,
.reviewText h5,
.reviewText h6 {
    font-family: helvetica, sans-serif;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.reviewText h1 {
    font-size: 32px;
}

.reviewText h2 {
    font-size: 28px;
}

.reviewText h3 {
    font-size: 24px;
}

.reviewText p {
    margin-bottom: 1em;
}

.reviewText a {
    color: #0066cc;
    text-decoration: underline;
}

.reviewText a:hover {
    color: #0052a3;
}

.reviewText ul,
.reviewText ol {
    margin: 1em 0;
    padding-left: 2em;
}

.reviewText li {
    margin-bottom: 0.5em;
}

.reviewText strong {
    font-weight: 600;
}

.reviewText em {
    font-style: italic;
}

.reviewText code {
    background-color: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
}

.reviewText pre {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    margin: 1em 0;
}

.reviewText pre code {
    background-color: transparent;
    padding: 0;
}

.reviewText blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1em;
    margin: 1em 0;
    font-style: italic;
    color: #666;
}

.reviewedBy {
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    line-height: 1.25em;
    padding-bottom: 22px;
    padding-top: 10px;
}

.circle {
    position: relative;
    border: 7px solid black;
    border-radius: 50%;
    padding-bottom: 1rem;
    width: 135px;
    height: 135px;
    text-align: center;
    color: black;
    margin: 0 auto;
}

.rating {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: black;
    --type-token: globalEditorial.numerical-large;
    text-transform: none;
    font-family: helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1em;
    font-size: 50px;
    font-weight: 600;
    overflow-wrap: normal;
}

@media (max-width: 48rem) {
    .wrapper {
        display: block;
    }

    .image {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .details {
        width: 100%;
        text-align: center;
    }

    .review {
        padding: 40px 10px;
    }
}
